 body{
            margin: 0px;

        }

        header{
            width: 100%;
            height: 25vh;
            background-image: url('images/coffee08.jpg');
            background-size: cover;
            
            display: flex;
            justify-content: center;
            align-items: center;

        }

        main{
            margin: 3rem;
        }

        h1{
            color: azure;
            font-size: 5rem;

        }
        h2{
            color: rgb(95, 5, 175);
            font-size: 1.5rem;

        }

        p{
            color: brown;
        }
        button{
            width: 20vw;
            height: 10vh;
            border-radius: 35px;
            background-color: red;
            color: whitesmoke;
            font-size: 1.2rem;
            border: rgb(2, 98, 23) 5px solid;
            cursor: pointer;
        }
        button:hover{
            background-color: rgb(33, 7, 202);
        }
        footer{
            position: fixed;
            bottom: 0px;
            left: 0px;
            background-color: darkgrey;
            color: blueviolet;
            width: 100%;
            text-align: center;

        }

